.container {
    border-radius: 6px;
    width: 32%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181818;
    min-height: 25%;
    gap: 30px;
    padding: 6px;
    position: relative;
}

.container:hover {
    cursor: pointer;
    animation: changeBgColor 0.4s;
    animation-fill-mode: forwards;
}

.container:hover .img{
    max-width: 25%;
}

.container:hover .icon {
    display: block;
    animation: myAnimation 0.4s;
    animation-fill-mode: forwards;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}


.img {
    max-width: 25%;
    border-radius: 6px;
}

.name {
    maxwidth: 60%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;

}

.icon {
    display: none;
    color: #1cd760;
    font-size: 200% !important;
    justify-self: flex-end;
    position: relative;
    right: 10%;
    transform: translateX(100%);
    opacity: 0;
    box-shadow: 0 2px 4px 0 black;
    border-radius: 50%;
}



@keyframes myAnimation {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes changeBgColor {
    from {
        background-color: #181818;
    }
    to {
        background-color: #282828;
    }
}

@media screen and (max-width: 1300px) {
    .container {
        width: 31%;
    }
}

@media screen and (max-width: 1164px) {
    .container {
        width: 48%;
    }
}

@media screen and (max-width: 770px) {
    .container {
        width: 96%;
    }
}


