.container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100000;
    color: #000;
    background-color: #333;
    /* width: 400px; */
    /* height: 200px; */
    padding: 20px 40px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}

.header{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.overLay {
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.form {
    padding: 0 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}


.form > input:focus {
    outline: none;
    border: 1px solid #222;

}

.form > button {
    margin-left: auto;
    width: 80px;
    height: 34px;
    border-radius: 30px;
    margin-bottom: 10px;
    border: none;
}

.btnOut{
    display: flex;
    justify-content: space-between;
}

.btnCancel{
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    padding: 8px 12px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

.btn{
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    padding: 12px 30px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    background-color: #1CD760;
}


.closeButton {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    padding:2px;
}

.closeButton:hover {
    background-color: rgba(89, 89, 89, 0.6);
}
