.container{
    width:100%;
    height: 100% ;
    background-image: linear-gradient(#222221, #000000);
    padding: 100px 10px 100px 30px;
    position: relative;
    margin-top:  -80px;
    color:white;
}

.resultsContainer{
}

.resultsHeader{
    display: flex;
    gap:30px;
    margin-bottom:40px
}

.tracksResult{
    flex:0.6;
}

.topResult{
    flex:0.4
}

.topResultContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(24, 24, 24);
    border-radius: 8px;
    padding:20px 20px 20px 20px ;
    position: relative;
}

.topResultContainer:hover{
    cursor: pointer;
    animation: changeBgColor 0.4s;
    animation-fill-mode: forwards;
}

.imageLayout{
    background-size: cover;
    width: 25%;
    height: 110px;
    border-radius: 50%;
    /*background-color: red;*/
}

.image{
    margin-bottom: 10px;
    background-size: cover;
    width: 25%;
    height: auto;
    border-radius: 50%;
}

.topResultContainer:hover .icon {
    display: block;
    animation: myAnimation 0.4s;
    animation-fill-mode: forwards;
}

.icon {
    display: none;
    color: #1cd760;
    font-size: 350% !important;
    justify-self: flex-end;
    position: absolute;
    right: 6%;
    bottom:10%;
    transform: translateY(50%);
    opacity: 0;
    box-shadow: 0 1px 0px 0 black;
    border-radius: 50%;
}

.trackResultContainer{
    margin-top: 20px;
    height: 246px;
    overflow: auto;
    border-radius: 6px;
}

.icon:hover{
    font-size:360% !important;
}

.playlistContainer{
    /*margin-top: 34px;*/
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    /*overflow: auto;*/
}

.artistsContainer{
    /*margin-top: 34px;*/
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.playlistResult{
    width: 100%;
}


.seeMore{
    width: 76px;
    color: #B8B8B8;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}

.seeMore:hover{
    color: white
}

.albumHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes changeBgColor {
    from {
        background-color: rgba(24, 24, 24, 0.3);
    }
    to {
        background-color: rgba(40, 40, 40, 0.5);
    }
}

@keyframes myAnimation {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*//sssss*/

@media screen and (max-width: 1300px) {
    .tracksResult{
        flex:0.5;
    }

    .topResult{
        flex:0.5
    }
}

@media screen and (max-width: 1100px) {
    .imageLayout{
        height: 100px;
    }

    .resultsHeader{
        flex-direction: column;
    }

    .tracksResult{
        flex:0.3;
    }

    .topResult{
        width: 70%;
    }

    .imageLayout{
        background-size: cover;
        width: 18%;
        height: 110px;
        border-radius: 50%;
        /*background-color: red;*/
    }
}

@media screen and (max-width: 860px) {

    .resultsHeader{
        flex-direction: column;
    }
    .tracksResult{
        flex:1;
    }

    .topResult{
        flex:1
    }


}

@media screen and (max-width: 790px) {
    .imageLayout{
        background-size: cover;
        width: 30%;
        height: 110px;
        border-radius: 50%;
        /*background-color: red;*/
    }
}

@media screen and (max-width: 700px) {
    .imageLayout{
        background-size: cover;
        width: 50%;
        height: 110px;
        border-radius: 50%;
        /*background-color: red;*/
    }
}
