.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.SideBarPlaylist:hover{
    color:white
}

.container:hover .icon{
    display: flex !important;
}

.SideBarPlaylist{
    color:grey;
    padding: 6px 0;
    transition:  color 0.3s ease-in;
}

.icon{
    font-size:  100% !important;
    display: none !important;
    cursor: pointer;
}

.icon:hover{
    color: white;
}


