
.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#222221, #000000);
    margin-top: -100px;
    position: relative;
    color: white;
    padding: 0 0 120px;
}

.header {
    position: relative;
    color: #fff;
    height: 40vh;
    height: 350px;
    /*background-image: linear-gradient(#503b9d, #2e2158);*/
    display: flex;
    padding: 110px 30px 30px;
    gap: 20px
}



.headerContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.headerInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerInfo > p {
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.body {
    padding: 30px 0px 100px
}
.artistOptions {
    padding: 10px 30px;
}

.icon {
    color: #1cd760;
    font-size: 400% !important;
    justify-self: flex-end;
    border-radius: 50%;
}

.icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}




.artistInfo {
    height: 40px;
    line-height: 40px;
}

.infoTitleBar {
    display: flex;
    border-bottom: 1px solid #333333;
    padding: 0 50px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.headerType {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.headerName {
    font-weight: 750;
    font-size: 70px;
    line-height: 90px;
    text-shadow: 1px 1px 2px black;
}

.headerDescription {
    font-size: 16px;
    color: #cbc6c6;
}

.number {
    flex: 5%;
    display: flex;
    justify-content: flex-start;
}

.title{
    flex: 90%
}

.durationIcon{
    flex:5%;
    display: flex;
    justify-content: center;
}

.trackLine{
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 6px;
}

.trackLine:hover{
    background-color: rgba(129, 126, 126, 0.4);
}

.playIcon{
    font-size: 200% !important;
    position: absolute;
    left: 3%;
    opacity: 0;
    cursor: pointer;
}

.trackLine:hover .playIcon{
    opacity: 1;
    z-index: 1;
}

.trackLine:hover .number{
    opacity: 0;
}

.description{
    margin:0
}

.trackItems{
    padding: 30px 30px  0 30px;
}

.artist:hover{
    text-decoration: underline !important;
    color: white !important;
}

@media screen and (max-width: 1068px) {
    .headerName {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-shadow: 1px 1px 2px black;
    }

    .album {
        display: none;
    }

    .trackAlbum {
        display: none;

    }
}


@media screen and (max-width: 860px) {
    .headerName {
        font-weight: bold;
        font-size: 38px;
        line-height: 58px;

        text-shadow: 1px 1px 2px black;
    }
}

@media screen and (max-width: 770px) {
    .headerName {
        font-weight: bold;
        font-size: 30px;
        line-height: 50px;

        text-shadow: 1px 1px 2px black;
    }
}
