.container{
    background-color: rgba(24, 24, 24, 0.5);
    border-radius: 6px;
    padding:20px 20px 20px 20px ;
    display: flex;
    flex-direction: column;
    gap:6px;
    width: 18.2%;
    position: relative;
}

.container:hover{
    cursor: pointer;
    animation: changeBgColor 0.4s;
    animation-fill-mode: forwards;
}

.img{
    border-radius: 6px;
    width: 100%;
}

.name{
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.description{
    font-size: 13px;
    color:#A7A7A7;
}

.artist:hover{
    text-decoration: underline ;
}

.container:hover .icon {
    display: block;
    animation: myAnimation 0.4s;
    animation-fill-mode: forwards;

}

.icon {
    /*display: none;*/
    color: #1cd760;
    font-size: 200% !important;
    justify-self: flex-end;
    position: absolute;
    right: 15%;
    bottom: 40%;
    transform: translateY(90%);
    opacity: 0;
    box-shadow: 0 1px 0px 0 black;
    border-radius: 50%;
    border: none !important;
}

.icon:hover{
    font-size: 220% !important;
    color: #18e160;
    cursor: pointer;
    /*background-color: rgba(80, 78, 78, 0.4);*/
}

@keyframes myAnimation {
    from {
        transform: translateY(90%);
        opacity: 0;
    }
    to {
        transform: translateY(20%);
        opacity: 1;
    }
}



@keyframes changeBgColor {
    from {
        background-color: rgba(24, 24, 24, 0.5);

    }
    to {
        background-color: rgba(40, 40, 40, 0.7);
    }
}

@media screen and (max-width: 1300px) {
    .container {
        width: 22.3%;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        width: 30.4%;
    }

    .container:hover .icon {
        display: block;
        animation: myAnimationRes 0.4s;
        animation-fill-mode: forwards;
    }

    .icon{
        transform: translateY(100%);
        font-size: 250% !important;

    }

    .icon:hover{
        font-size: 270% !important;
        color: #18e160;
    }

    @keyframes myAnimationRes {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
        to {
            transform: translateY(30%);
            opacity: 1;
        }
    }
}

@media screen and (max-width: 860px) {
    .container {
        width: 48.2%;
    }

    .container:hover .icon {
        display: block;
        animation: myAnimationRes 0.4s;
        animation-fill-mode: forwards;
    }

    .icon{
        transform: translateY(130%);
        font-size: 300% !important;
    }

    .icon:hover{
        color: #04b945;
        font-size: 320% !important;
    }

    @keyframes myAnimationRes {
        from {
            transform: translateY(130%);
            opacity: 0;
        }
        to {
            transform: translateY(60%);
            opacity: 1;
        }
    }
}

@media screen and (max-width: 790px) {

    .icon{
        transform: translateY(130%);
        font-size: 250% !important;
    }
    .icon:hover{
        color: #04b945;
        font-size: 270% !important;
    }
}

@media screen and (max-width: 700px) {
    .icon{
        transform: translateY(130%);
        font-size: 200% !important;
    }
    .icon:hover{
        color: #04b945;
        font-size: 220% !important;
    }
    .container:hover .icon {
        display: block;
        animation: myAnimationRes 0.4s;
        animation-fill-mode: forwards;
    }
    @keyframes myAnimationRes {
        from {
            transform: translateY(130%);
            opacity: 0;
        }
        to {
            transform: translateY(30%);
            opacity: 1;
        }
    }
}