.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#222221, #000000);
    margin-top: -100px;
    position: relative;
    color: white;
    padding: 0 0 100px;
}

.headerContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header {
    position: relative;
    color: #fff;
    height: 40vh;
    height: 350px;
    display: flex;
    padding: 110px 30px 30px;
    gap: 20px;
    background-image: linear-gradient(#503b9d, #2e2158);

}

.headerType {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.headerName {
    font-weight: 750;
    font-size: 70px;
    line-height: 90px;
    text-shadow: 1px 1px 2px black;
}

.artistOptions {
    padding: 10px 30px;
}

.icon {
    color: #1cd760;
    font-size: 400% !important;
    justify-self: flex-end;
    border-radius: 50%;
}

.icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.artistInfo {
    height: 40px;
    line-height: 40px;
}

.infoTitleBar {
    display: flex;
    border-bottom: 1px solid #333333;
    padding: 0 40px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.number {
    flex: 3%;
    display: flex;
    justify-content: flex-start;
}


.title {
    flex: 42%
}

.album {
    flex: 25%;
}

.dateAdded {
    flex: 22%;
    display: flex;
    justify-content: center;
}

.trackAdded {
    flex: 22%;
    display: flex;
    justify-content: center;
}


.durationIcon {
    flex: 8%;
    display: flex;
    justify-content: center;
}


.trackItems {
    padding: 10px 20px;
    gap: 20px;
    font-size: 14px;

}
@media screen and (max-width: 1068px) {
    .headerName {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-shadow: 1px 1px 2px black;
    }

    .album {
        display: none;
    }

    .trackAlbum {
        display: none;

    }
}


@media screen and (max-width: 860px) {
    .headerName {
        font-weight: bold;
        font-size: 38px;
        line-height: 58px;

        text-shadow: 1px 1px 2px black;
    }
}

@media screen and (max-width: 770px) {
    .headerName {
        font-weight: bold;
        font-size: 30px;
        line-height: 50px;

        text-shadow: 1px 1px 2px black;
    }
}

@media screen and (max-width: 1068px) {
    .headerName {
        font-weight: bold;
        font-size: 50px;
        line-height: 70px;
        text-shadow: 1px 1px 2px black;
    }

    .album {
        display: none;
    }

    .trackAlbum {
        display: none;

    }
}


@media screen and (max-width: 860px) {
    .headerName {
        font-weight: bold;
        font-size: 56px;
        line-height: 70px;
        text-shadow: 1px 1px 2px black;
    }
}

@media screen and (max-width: 770px) {
    .headerName {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-shadow: 1px 1px 2px black;
    }
}

