.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -100px;
    color: white;
}


.header{
    position: relative;
    padding-bottom: 24px;
    color: #fff;
    height: 40vh;
    max-height: none;
    height: 350px;
    max-width: none;
    display: flex;
    /*padding: 0 32px;*/
    margin-top: -100px;
    background-size: contain;
}

.headerInfo {
    width: 80%;
    color: #fff;
    position: relative;
    font-size: 16px;
    left: 30px;
    top: 200px;
    text-shadow: 1px 1px 2px black;
}

.headerInfo > h2 {
    font-weight: bold;
    font-size: 90px;
    white-space: nowrap;
    overflow: hidden;
    /*text-overflow: fade;*/
}

.body{
    padding: 40px 30px 100px 30px;
    position: relative;
}

.icon {
    color: #1cd760;
    font-size: 400% !important;
    justify-self: flex-end;
    border-radius: 50%;
}

.farIcon{
    font-size: 100% !important;
    margin-right: 10px;
    display: none !important;
    cursor: pointer;
}

.popular{
    margin-bottom:40px;
}

.number{
    display: flex;
    width: 22.4px;
    justify-content: center;
}

.playIcon{
    font-size: 140% !important;
    display: none !important;
    cursor: pointer;
}

.icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.artistOptions{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.flwBtn{
    color:white;
    border-radius: 8px;
    border: 1px solid white;
    padding: 4px 16px;
}

.flwBtn:hover{
    cursor: pointer;
}



.popularContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.popularItem{
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 14px
}

.popularItem:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

.popularItem:hover .farIcon{
    display: block !important;
}

.popularItem:hover .playIcon{
    display: block !important;
}

.popularItem:hover .number{
    display: none;
}

.popularity {
    justify-content: center;
    width: 25%;
    display: flex;
}

.popularContent{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 50%;
}

.actions{
    display: flex;
    align-items: center;
    gap: 4px;
    width: 25%;
    justify-content: flex-end;
}

.seeMore{
    width: 76px;
    color: #B8B8B8;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}

.seeMore:hover{
    color: white
}

.albumHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.artistHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.image{
    height: 40px;
    width: auto;
}

.userInfo:focus {
    box-shadow: none !important;
}

.name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
}

.duration_ms{
    width: 60px;
}

.dropDownItems:hover {
    animation: changeBgColor 0.5s;
    animation-fill-mode: forwards;
    color: white;
}


.dropDownItems{
    color:white;
    font-size: 12px;
    font-weight: bold;
}

.dropDownItems:hover {
    animation: changeBgColor 0.5s;
    animation-fill-mode: forwards;
    color: white;
}

.albumContainer{
    display: flex;
    gap:26px;
    flex-wrap: wrap;
    /*overflow-y: auto;*/
}

.artistContainer{
    display: flex;
    gap:26px;
    flex-wrap: wrap;
}

.relatedArtists{
    margin-top: 40px;
}

@media screen and (max-width: 1068px) {
    .headerInfo > h2 {
        font-weight: bold;
        font-size: 70px;
        text-shadow: 1px 1px 2px black;
    }
}



@media screen and (max-width: 860px) {
    .header {
        height: 306px;
    }
    .headerInfo > h2 {
        font-weight: bold;
        font-size: 56px;
        text-shadow: 1px 1px 2px black;
    }
}

@media screen and (max-width: 770px) {
    .headerInfo > h2 {
        font-weight: bold;
        font-size: 50px;
        text-shadow: 1px 1px 2px black;
    }
}

@keyframes changeBgColor {
    from {
        background-color: rgb(61, 65, 68);
    }
    to {
        background-color: rgba(127, 137, 145, 0.5);
    }
}