.container {
    width:100%;
    height: 100% ;
    background-image: linear-gradient(#222221, #000000);
    margin-top: -100px;
    position: relative;
    color:white;
}

.header{
    position: relative;
    color: #fff;
    height: 40vh;
    height: 350px;
    display: flex;
    padding: 110px 30px 30px;
    gap: 20px
}

.headerContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.headerInfo{
    display: flex;
    align-items: center;
    gap:10px;
}

.headerInfo >p {
    margin:0;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.headerType{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.headerName{
    font-weight: 750;
    font-size: 100px;
    line-height: 120px;
    text-shadow: 1px 1px 2px black;
}

.headerDescription{
    font-size: 16px;
    color:#C7B7B7;
}

.body{
    padding:30px 0px 15000px
}

.icon {
    color: #1cd760;
    font-size: 400% !important;
    justify-self: flex-end;
    border-radius: 50%;
}

.icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.infoTitleBar{
    display: flex;
    border-bottom: 1px solid #333333;
    padding:0 40px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.artistOptions{
    padding:10px 30px;
}

.number{
    flex: 5%;
}

.trackNum{
    flex: 5%;
}

.title{
    flex:40%
}

.trackName{
    flex:40%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.album{
    flex:25%;
}

.trackAlbum{
    flex:25%;
}

.dateAdded{
    flex:25%;
}

.trackAdded{
    flex:25%;

}


.durationIcon{
    flex:5%;
}

.trackDur{
    flex:5%;
}

.durIcon{
    font-size: 150% !important;
    display: flex;
    align-items: center;
}

.trackItems{
    padding:10px 40px;
}

.artistInfo{
    height: 40px;
    line-height: 40px;
}

.trackItem{
    display: flex;
}



@media screen and (max-width: 1068px) {
    .headerName {
        font-weight: bold;
        font-size: 70px;
        text-shadow: 1px 1px 2px black;
    }
}



@media screen and (max-width: 860px) {
    .headerName {
        font-weight: bold;
        font-size: 56px;
        text-shadow: 1px 1px 2px black;
    }
}

@media screen and (max-width: 770px) {
    .headerName {
        font-weight: bold;
        font-size: 50px;
        text-shadow: 1px 1px 2px black;
    }
}
